@model IEnumerable<BookRatingApp.Models.Review>

@{
    ViewData["Title"] = "Index";
}
<style>
    table {
        background-color: #add8e6; /* Πιο έντονο γαλάζιο χρώμα */
        border-collapse: collapse; /* Καθαρή εμφάνιση χωρίς κενά */
        width: 100%;
        margin: 20px 0;
    }

        table th {
            background-color: #87ceeb; /* Εντονότερο γαλάζιο για κεφαλίδες */
            color: #333;
            padding: 10px;
            text-align: left;
        }

        table td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd; /* Διακριτικό περίγραμμα */
        }

        table tr:nth-child(even) {
            background-color: #b0e0e6; /* Εναλλασσόμενο γαλάζιο για ζυγές γραμμές */
        }

        table tr:hover {
            background-color: #87cefa; /* Ελαφριά σκίαση κατά το hover */
        }

    h1 {
        text-align: center;
        color: #4682b4; /* Σκούρο γαλάζιο */
    }
</style>


<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
